
#clockHoursLabel {
  x: 55%;
  y: 90%;
  fill: white;
  z-index: 999;
}

#clockMinutesLabel {
  x: 77%;
  y: 95%;
  fill: white;
}

.sensor {
  width: 24;
  height: 24;
}

.label {
  text-length: 100;
  font-size: 16;
  font-family: Colfax-Bold;
  fill: white;
}
